# mbsync.service

[Unit]
Description=Personal gmail synchronization service
RefuseManualStart=no
RefuseManualStop=yes
After=network.target network-online.target dbus.socket

[Service]
Type=oneshot
ExecStart=/bin/bash %h/.dotfiles/mail/fetchmail.sh
StandardOutput=syslog
StandardError=syslog
KillMode=process
