# mbsync.timer

[Unit]
Description=Personal gmail synchronization timer
RefuseManualStart=no
RefuseManualStop=no

[Timer]
Persistent=false
OnCalendar=*-*-* *:*:00
Unit=mbsync.service

[Install]
WantedBy=timers.target